@font-face {
  font-family: 'Sudbury';
  src: url('assets/SudburyBasin3D.ttf');
}

html {
  height: 100%;
}

body {
  display: flex;
  font-family: 'Sudbury', sans-serif;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: black;
}

.instructions-body {
  display: flex;
  font-family: 'Sudbury', sans-serif;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: black;
}

#pointerAndLyrics {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  height: 400px;
  width: 1600px;
  left: 50%;
  margin-left: 200px;
  vertical-align: top;
  top: 0;
}

#justThePointer {
  flex: 1;
  top: 14%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 5; /* Stay on top */
  /* top: 15%; */
  left: 3%;
  overflow-x: hidden; /* Disable horizontal scroll */
  /* margin-right: 60px; */
  /* margin-top: 10px; */
  margin-right: 300px;
  opacity: 0.5;
  vertical-align: top;
}

#subtitles {
  /* margin-left: 5em; */
  position: fixed;

  font-size: 2.5em;
  flex: 7;
  vertical-align: top;
  /* opacity: 1; */
  top: 14%;
}

#notShow {
  transform: scaleX(-1);
  display: none;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  position: absolute;
  top: 0%;
  left: 38%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* padding: %; */
}
.logo h1 {
  font-family: 'Sudbury', sans-serif;
  color: linear-gradient(
    45deg,
    #ff0000,
    #647687,
    #00ced1,
    #20b2aa,
    #008080,
    #a20025,
    #8b00ff
  );
  text-align: center;
  animation-name: logo;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0% {
    font-size: 3em;
    color: #bc7c7c;
  }
  25% {
    font-size: 2.9em;
    color: #00ced1;
  }
  75% {
    font-size: 3em;
    color: #b56477;
  }
  100% {
    font-size: 2.9em;
    color: #9955d0;
  }
}

.button {
  position: absolute;
}

.dataContainer {
  margin-left: auto;
  margin-right: auto;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tvlines {
  flex-grow: 1;
  border: 15px solid #333;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 100% 100%;
  animation: Gradient 15s ease infinite;
  opacity: 0.5;
  /* transform: scale(1.4); */
}

.webcam {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  /* background: white; */

  /* opacity: 1; */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.instructions-main {
  display: flex;
  font-family: 'Sudbury', sans-serif;
  top: 80%;
  left: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: pink;
}

.modal-main {
  position: fixed;
  width: 40%;
  /*height: auto;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    rgba(137, 205, 206, 1),
    rgba(58, 106, 128, 1),
    rgba(108, 35, 117, 1)
  );
  border-radius: 15px;
  z-index: 3;
}

.modal-content {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.form-content {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.name-content {
  margin: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.modal-content-selected {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: cyan;
  z-index: 2;
  position: relative;
}

.modal-content-confirm {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding: 15px;
  color: rgb(45, 199, 56);
  border: 2px solid;
  border-color: rgb(45, 199, 56);
  z-index: 2;
  position: relative;
}

.modal-content-confirm:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

.modal-content:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

.modal-submit-confirm {
  margin: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding: 10px;
  color: rgb(45, 199, 56);
  border: 2px solid;
  border-color: rgb(45, 199, 56);
  z-index: 2;
  position: relative;
}

.modal-submit-confirm:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

#modal-exit-button {
  display: flex;
  height: auto;
  justify-content: flex-end;
  /*font-family: 'Sudbury', sans-serif;*/
  font-size: 40px;
  /*font-weight: normal;
  text-align: center;*/
  /*line-height: 100%;*/
  /*line-height: 100%;*/
  /*padding-bottom: 5px;*/
  color: lightgreen;
  /*z-index: 1;*/
  /*position: relative;*/
}

.modal-play-button {
  margin: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.modal-play-button:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

.modal-form {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modal-form-input {
  margin: 2.5%;
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

/*.modal-form-input:hover {
  color: cyan;
  animation: bounce 1s infinite;
}*/

.modal-form-confirm {
  margin: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding: 15px;
  color: rgb(45, 199, 56);
  border: 2px solid;
  border-color: rgb(45, 199, 56);
  z-index: 2;
  position: relative;
}

.modal-form-confirm:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.Lyrics {
  display: flex;
  position: absolute;
  text-align: top;
  top: 70px;
  left: 160px;
  z-index: 99;
  vertical-align: top;
}

#bubble-container {
  z-index: 99;
}

.sudbury {
  font-family: 'Sudbury', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.sudbury:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

.sudbury-instructions {
  font-family: 'Sudbury', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 350%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.sudbury-instructions:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

.homeLogo {
  font-family: 'Sudbury', sans-serif;
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 10px;
  z-index: 2;
  position: relative;
  /* width: 300px;
  margin: auto; */
  /* text-shadow: 0em 0em 0.1em red, 0em 0em 0.1em red; */

  /* Color Changing */
  background: linear-gradient(
    45deg,
    #ff0000,
    #647687,
    #00ced1,
    #20b2aa,
    #008080,
    #a20025,
    #8b00ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  -webkit-animation: rainbowanim 5s ease infinite;
  -moz-animation: rainbowanim 5s ease infinite;
  animation: rainbowanim 5s ease infinite;
}

.instruction-logo {
  font-family: 'Sudbury', sans-serif;
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  line-height: 150%;
  padding-bottom: 10px;
  z-index: 2;
  position: relative;
  /* width: 300px;
  margin: auto; */
  /* text-shadow: 0em 0em 0.1em red, 0em 0em 0.1em red; */

  /* Color Changing */
  background: linear-gradient(
    45deg,
    #ff0000,
    #647687,
    #00ced1,
    #20b2aa,
    #008080,
    #a20025,
    #8b00ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  -webkit-animation: rainbowanim 5s ease infinite;
  -moz-animation: rainbowanim 5s ease infinite;
  animation: rainbowanim 5s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
  }

  80% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes rainbowanim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes rainbowanim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rainbowanim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  right: 0;
  bottom: 0;
  padding: none;
  position: fixed;
  z-index: -1;
}

.backButton {
  font-family: 'Sudbury', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: lightgreen;
  z-index: 2;
  position: relative;
}

/* table, tbody, tr, td {
  z-index: 2;
  position: relative;
  color: greenyellow;
} */

div.tableContainer {
  width: 98%;
  margin: 1%;
}
table#table1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

tr,
td {
  text-align: left;
  border-left: 60px solid;
  border-left-color: transparent;
  padding: 10px;
}

tr > td:first-child {
  border: 0px;
}

.sidenav {
  height: 15%; /* Full-height: remove this if you want "auto" height */
  border-radius: 50%;
  width: 15%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 3%; /* Stay at the top */
  left: 2%;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  opacity: 0.5;
}

.score {
  height: 15%; /* Full-height: remove this if you want "auto" height */
  border-radius: 50%;
  width: 15%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  background-color: white; /* Black */
  z-index: 1; /* Stay on top */
  top: 3%; /* Stay at the top */
  right: 2%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  opacity: 0.5;
}

.scoreCont h2 {
  text-align: center;
  z-index: 2; /* Stay on top */
  color: black;
  font-size: 2em;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  animation-duration: 0.75s;
  animation-name: bounceOut;
}

#grad1 {
  height: 200px;
  width: 25px;

  background-color: red; /* For browsers that do not support gradients */
  /* background-image: linear-gradient( #ee7752, #e73c7e, #23a6d5, #23d5ab */
  background-image: linear-gradient(
    rgba(137, 205, 206, 1),
    rgba(58, 106, 128, 1),
    rgba(108, 35, 117, 1)
  ); /* Standard syntax (must be last) */
}

#pointerDiv {
  /*position: fixed;*/
  display: flex;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid lightgreen;
  padding-right: 10px;
  transition: all 0.5s ease-in;
}

.noShow {
  display: none;
}

.loading {
  width: 98vw;
  height: 98vh;
}

.baby-video {
  width: 25vw;
  height: 25vh;
  margin-left: 20%;
}

.fire {
  position: absolute;
}

.fire i {
  z-index: 10;
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  transition: all ease 3.5s ease-in;
}

#titleWrapper {
  /* display: flex; */
  /* flex-direction: 'row'; */
  justify-content: 'center';
}

#pickYourSong {
  flex: 1;
}
.songSelect {
  display: flex;
  flex: 1;
  flex-direction: 'row';
  justify-content: 'center';
  align-items: 'center';
  z-index: 1;
}
.albums {
  clip-path: polygon(
    50% 0%,
    49% 50%,
    98% 35%,
    49% 51%,
    79% 91%,
    49% 52%,
    21% 91%,
    49% 51%,
    2% 35%,
    50% 50%
  );
  transition: all ease 3.5s;
}

.albumContainer {
  display: flex;
  flex-direction: 'row';
  margin: 0 25px;
}

.songContainer {
  display: flex;
  flex-direction: 'row';
  transition: all ease 3.5s ease-in;
}

.babyContainer {
  margin-left: auto;
  margin-right: auto;
}
/* .mainComponent {
  background-color: lightblue
} */
