html {
  height: 100%;
}

body {
  display: flex;
  font-family: 'Sudbury Basin 3D', arial;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: black;
}

#notShow {
  transform: scaleX(-1);
  display: none;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  position: absolute;
  top: -2%;
  left: 38%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* padding: %; */
}
.logo h1 {
  font-family: 'Sudbury Basin 3D', arial;
  color: white;
  text-align: center;
  animation-name: logo;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0% {
    color: #ee7752;
    font-size: 2em;
  }
  25% {
    color: #e73c7e;
    font-size: 2.2em;
  }
  75% {
    color: #23a6d5;
    font-size: 2em;
  }
  100% {
    color: #23d5ab;
    font-size: 2.2em;
  }
}

#subtitles {
  /* position: absolute; */
  font-size: 2.5em;
  /* opacity: 1; */
}

.button {
  position: absolute;
}

.dataContainer {
  margin-left: auto;
  margin-right: auto;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tvlines {
  flex-grow: 1;
  border: 15px solid #333;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 100% 100%;
  animation: Gradient 15s ease infinite;
  opacity: 0.5;
  /* transform: scale(1.4); */
}

.webcam {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  /* opacity: 1; */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.modal-main {
  position: fixed;
  width: 40%;
  /*height: auto;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background-color: rgba(94, 253, 254, 0.6);*/
  background-image: linear-gradient(
    rgba(137, 205, 206, 0.7),
    rgba(58, 106, 128, 0.7),
    rgba(108, 35, 117, 0.7)
  );
  border-radius: 15px;
}

.modal-content {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
*/
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.modal-content:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

#modal-exit-button {
  display: flex;
  height: auto;
  justify-content: flex-end;
  /*font-family: 'Sudbury', sans-serif;*/
  font-size: 40px;
  /*font-weight: normal;
  text-align: center;*/
  /*line-height: 100%;*/
  /*line-height: 100%;*/
  /*padding-bottom: 5px;*/
  color: lightgreen;
  /*z-index: 1;*/
  /*position: relative;*/
}

.modal-play-button {
  margin: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: 'Sudbury', sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.modal-play-button:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.Lyrics {
  display: flex;
  position: absolute;
  text-align: center;
  top: 70px;
  left: 160px;
  z-index: 99;
}

#bubble-container {
  z-index: 99;
}

@font-face {
  font-family: 'Sudbury';
  src: url('assets/SudburyBasin3D.ttf');
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-left: 20px solid blue;
}

.sudbury {
  font-family: 'Sudbury', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: rgba(125, 125, 203);
  z-index: 2;
  position: relative;
}

.sudbury:hover {
  color: cyan;
  animation: bounce 1s infinite;
}

.homeLogo {
  font-family: 'Sudbury', sans-serif;
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 10px;
  z-index: 2;
  position: relative;
  /* width: 300px;
  margin: auto; */
  /* text-shadow: 0em 0em 0.1em red, 0em 0em 0.1em red; */

  /* Color Changing */
  background: linear-gradient(
    45deg,
    #ff0000,
    #647687,
    #00ced1,
    #20b2aa,
    #008080,
    #a20025,
    #8b00ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  -webkit-animation: rainbowanim 5s ease infinite;
  -moz-animation: rainbowanim 5s ease infinite;
  animation: rainbowanim 5s ease infinite;

  /* Neon Glow */
  /* font-family:'Monoton', cursive; */
  /* color: purple;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; */
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
  }

  80% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes rainbowanim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes rainbowanim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rainbowanim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  right: 0;
  bottom: 0;
  padding: none;
  position: fixed;
  z-index: -1;
}

.backButton {
  font-family: 'Sudbury', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  line-height: 100%;
  padding-bottom: 5px;
  color: lightgreen;
  z-index: 2;
  position: relative;
}

/* table, tbody, tr, td {
  z-index: 2;
  position: relative;
  color: greenyellow;
} */

div.tableContainer {
  width: 98%;
  margin: 1%;
}
table#table1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

tr,
td {
  text-align: left;
  border-left: 60px solid;
  border-left-color: transparent;
  padding: 10px;
}

tr > td:first-child {
  border: 0px;
}

.sidenav {
  height: 15%; /* Full-height: remove this if you want "auto" height */
  border-radius: 50%;
  width: 15%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 3%; /* Stay at the top */
  left: 2%;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  opacity: 0.5;
}

.score {
  height: 15%; /* Full-height: remove this if you want "auto" height */
  border-radius: 50%;
  width: 15%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  background-color: white; /* Black */
  z-index: 1; /* Stay on top */
  top: 3%; /* Stay at the top */
  right: 2%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  opacity: 0.5;
}

.scoreCont h2 {
  text-align: center;
  z-index: 2; /* Stay on top */
  color: black;
  font-size: 2em;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  animation-duration: 0.75s;
  animation-name: bounceOut;
}
